.leaflet-container {
  width: 80vw;
  height: 80vh;
}




.box {
  display: flex;
  flex-direction: row;
  /* flex-direction = column;  como se vería con columnas en lugar de filas*/ 
  justify-content: space-around;
  padding-bottom: 30px;
  margin: 0;
  list-style: none;
  flex-flow: row wrap; /* Con esto hacemos que si uno de los bloques no cabe pase a la fila de abajo y no quede desproporcionado*/

}

.boxinfo {
  text-align: center;
  background-color: rgba(190, 237, 255, 0.8);
  border: 0.2em solid rgb(49, 41, 61);
  border-radius: 0.3em;
  font-size: 1em;
  height: 300px;
  width: 200px;
}

.boxchat {
  text-align: center;
  background-color: rgba(202, 199, 199, 0.8);
  border: 0.1em solid rgb(49, 41, 61);
  border-radius: 0.3em;
  font-size: 1em;
  height: 300px;
  width: 200px;
  overflow: auto;
}